* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Arial", "Sans-serif";
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
img {
  max-width: 100%;
}
h1 {
  color: red;
}
